[tool.poetry]
name = "databind.json"
version = "1.5.2"
description = "De-/serialize Python dataclasses to or from JSON payloads. Compatible with Python 3.7 and newer."
authors = ["Niklas Rosenstein <rosensteinniklas@gmail.com>"]
license = "MIT"
readme = "readme.md"
packages = [{include = "databind/json", from = "src"}]

  [tool.poetry.dependencies]
  python = "^3.7"
  "databind.core" = "^1.5.2"
  "nr.util" = ">=0.8.3,<1.0.0"
  typing-extensions = "^3.10.0"

  [tool.poetry.dev-dependencies]
  pytest = "*"
  mypy = "*"

[tool.slam]
typed = true

  [tool.slam.test]
  pytest = "pytest src/"
  mypy = "MYPYPATH=src mypy src/ --namespace-packages --explicit-package-bases"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
